h1{ background-color: black;
    color:  white; }
h2{background-color: red; }

h2.seccion3{ color: yellow; }

p.seccion1{ background-color: aquamarine; }

p#parrafoSeleccionado{ color: violet; }

.estiloFuenteDistinto{ font-family: 'Courier New';}
.seccion1.estiloFuenteDistinto{text-align: end;}